<div class="container">
  <div class="title">R2E - Heat Indicator</div>
</div>
<div class="container">
  <div class="product-container">
    <div class="product-title">Produto</div>
      <md-input-container class="input-container">
        <input mdInput placeholder="Descrição">
      </md-input-container><br>
      <md-input-container class="input-container">
        <input mdInput placeholder="Início do Contrato">
      </md-input-container>
      <div class="button">Salvar</div>
      <div class="button">Buscar</div>

    </div>
  <div class="client-container">
    <div class="client-info">
      <div class="client-title">Cliente</div>
      <md-input-container class="input-container">
        <input mdInput placeholder="Nome">
      </md-input-container><br>
      <md-input-container class="input-container-left">
        <input mdInput placeholder="Telefone">
      </md-input-container>
      <md-input-container class="input-container-right">
        <input mdInput placeholder="Email">
      </md-input-container>
      <md-input-container class="input-container-left">
        <input mdInput placeholder="CPF">
      </md-input-container>
      <md-input-container class="input-container-right">
        <input mdInput placeholder="Sexo">
      </md-input-container>
      <md-input-container class="input-container">
        <input mdInput placeholder="Endereço">
      </md-input-container><br>
      <md-input-container class="input-container-left">
        <input mdInput placeholder="Cidade">
      </md-input-container>
      <md-input-container class="input-container-right">
        <input mdInput placeholder="País">
      </md-input-container>
      <div class="button">Salvar</div>
      <div class="button">Buscar</div>
    </div>
  </div>
  <div class="case-container">
    <div class="case-info">
      <div class="case-title">Caso</div>
      <md-input-container class="input-container">
        <input mdInput placeholder="Número de Caso">
      </md-input-container><br>
      <md-input-container class="input-container-left">
        <input mdInput placeholder="Tipo">
      </md-input-container>
      <md-input-container class="input-container-right">
        <input mdInput placeholder="Assunto">
      </md-input-container>
      <md-input-container class="input-container">
        <input mdInput placeholder="Descrição">
      </md-input-container><br>
      <div class="button-light">Salvar Caso Técnico</div>
      <md-input-container class="input-container">
        <textarea mdInput placeholder="Observações"></textarea>
      </md-input-container>
      <div class="button">Salvar</div>
      <div class="button">Buscar</div>
    </div>
  </div>